# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.env

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files (optional)
# Uncomment and modify these lines if you're using an IDE and want to ignore its config files

# IntelliJ IDEA
.idea/

# Visual Studio Code
.vscode/

# GoLand
.idea/

# macOS specific files
.DS_Store

# Linux specific files
*~

# Windows specific files
Thumbs.db
ehthumbs.db

# Logs
*.log

# Build directory
/build/